@inject IModel model
@inject IController controller
@inject DialogService DialogService

<RadzenTemplateForm TItem="VisitData" Data="@model.SelectedVisit" Submit=@OnSubmit>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Text" />
        </div>
        <div class="col">
            <RadzenNumeric @bind-Value="@model.NewCost" Name="Cost" />
            <RadzenRequiredValidator Text="Title is required" Component="Cost" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Start" />
        </div>
        <div class="col">
            <RadzenTextArea @bind-Value="@model.NewStatus" Name="Status" />
            <RadzenRequiredValidator Text="Start is required" Component="Status" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
        </div>
    </div>
</RadzenTemplateForm>


@code {
    async Task OnSubmit()
    {
        await controller.UpdateVisitAsync();
        DialogService.Close();
    }
}