@inject IModel model
@inject IController controller
@inject DialogService DialogService

<RadzenTemplateForm TItem="VisitData" Data="@model.SelectedVisit" Submit=@OnSubmit class="text-white">
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Koszt usługi" />
        </div>
        <div class="col">
            <RadzenNumeric @bind-Value="@model.NewCost" Name="Cost" class="text-white" Style="text-align:center; color:white" />
            <RadzenRequiredValidator Text="Title is required" Component="Cost" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Zmiana statusu" />
        </div>
        <div class="col">
            <RadzenTextArea @bind-Value="@model.NewStatus" Name="Status" class="text-white" Style="text-align:center" />
            <RadzenRequiredValidator Text="Start is required" Component="Status" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Zapisz" class="form-control align-items-center nav-link custom-btn custom-border-btn btn" />
        </div>
    </div>
</RadzenTemplateForm>


@code {
    async Task OnSubmit()
    {
        await controller.UpdateVisitAsync();
        DialogService.Close();
    }
}